<form method="post" action="/users/edit_twitter">

  <div class="form-group">
    <p><center>Enter the id for which details to be edited in the author section</center></p>
  </div>
  <p><center> Enter the details to be updated</center></p>
  <div class="form-group">
    <label>Author</label>
    <input type="text" class="form-control" placeholder="Author" name="author">
  </div>



  <div class="form-group">
    <label>Display Name</label>
    <input type="text" class="form-control" placeholder="Displayname" name="displayname">
  </div>


  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" placeholder="Username" name="username">
  </div>



  <button type="Submit" class="btn btn-default">Update</button>

</form>
