<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3 class="text-danger"><span class="fa fa-google-plus"></span> Local</h3>

				<div class="row">

					<p><center>Edit your data here</center></p>

		      <center><div class="col-md-8">
		        <p><a class="btn btn-secondary" href='/users/edit_local' role="button">Edit &raquo; </a></p>
		      </div></center>
	</div>

			</div>
		</div>

		<div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>

								<div class="row">

									<p><center>Edit your data here</center></p>

						      <center><div class="col-md-8">
						        <p><a class="btn btn-secondary" href='/users/edit_google' role="button">Edit &raquo; </a></p>
						      </div></center>
					</div>

            </div>
        </div>

				<div class="col-sm-6">
		            <div class="well">
		                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Twitter</h3>

										<div class="row">

 					 					<p><center>Edit your data here</center></p>

 					 		      <center><div class="col-md-8">
 					 		        <p><a class="btn btn-secondary" href='/users/edit_twitter' role="button">Edit &raquo; </a></p>
 					 		      </div></center>
 					 	</div>

		            </div>
		        </div>
				</div>
